{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_label(edit_form.username) }}
    {{ form_widget(edit_form.username) }}

    {{ form_label(edit_form.name) }}
    {{ form_widget(edit_form.name) }}

    {{ form_label(edit_form.lastname) }}
    {{ form_widget(edit_form.lastname) }}

    {{ form_label(edit_form.password) }}
    {{ form_widget(edit_form.password) }}

    {{ form_label(edit_form.email) }}
    {{ form_widget(edit_form.email) }}

    {{ form_label(edit_form.rol) }}
    {{ form_widget(edit_form.rol) }}

    {{ form_widget(edit_form.submit) }}

    {{ form_end(edit_form) }}

{% endblock %}



