<!DOCTYPE html>
<html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Viva Cuba Libre - Backoffice{% endblock %}</title>

    <meta name="description" content="">
    <meta name="author" content="adesign">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="{{ asset('bundles/callsvivacubalibre/css/bootstrap.min.css') }}">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/callsvivacubalibre/css/plugins.css') }}">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="{{ asset('bundles/callsvivacubalibre/css/main.css') }}">

    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="{{ asset('bundles/callsvivacubalibre/js/vendor/modernizr-respond.min.js') }}"></script>

    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">
<!-- Preloader -->
<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->

<div class="preloader themed-background">
    <h1 class="push-top-bottom text-light text-center"><strong>Viva</strong>Cuba Libre</h1>

    <div class="inner">
        <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Cargando...</strong></h3>

        <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
    </div>
</div>
<!-- END Preloader -->

<!-- Page Container -->
<div id="page-container" class="sidebar-no-animations">

    <!-- Main Container -->
    <div id="main-container">
        <!-- Header -->
        <header class="navbar navbar-default">
            <!-- Left Header Navigation -->

            <!-- END Left Header Navigation -->

            <!-- Search Form -->
            <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
                <div class="form-group">
                    <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Buscar..">
                </div>
            </form>
            <!-- END Search Form -->

            <!-- Right Header Navigation -->
            <ul class="nav navbar-nav-custom pull-right">

                <!-- User Dropdown -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        {{ app.user.name ~ ' ' ~ app.user.lastname }} <img
                                src="{{ asset('bundles/callsvivacubalibre/img/placeholders/avatars/avatar2.jpg') }}"
                                alt="avatar"> <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                        <li class="dropdown-header text-center">Mi cuenta</li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw pull-right"></i>
                                <span class="badge pull-right">10</span>
                                Actualizaciones
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope-o fa-fw pull-right"></i>
                                <span class="badge pull-right">5</span>
                                Mensajes
                            </a>
                            <a href="#"><i class="fa fa-magnet fa-fw pull-right"></i>
                                <span class="badge pull-right">3</span>
                                Suscripciones
                            </a>
                            <a href="#"><i class="fa fa-question fa-fw pull-right"></i>
                                <span class="badge pull-right">11</span>
                                FAQ
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('user_edit', {'id': app.user.id}) }}">
                                <i class="fa fa-user fa-fw pull-right"></i>
                                Perfil
                            </a>
                            <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                            <a href="#modal-user-settings" data-toggle="modal">
                                <i class="fa fa-cog fa-fw pull-right"></i>
                                Configuraciones
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-lock fa-fw pull-right"></i> Bloquear la pantalla</a>
                            <a href="{{ path('logout') }}"><i class="fa fa-ban fa-fw pull-right"></i> Salir</a>
                        </li>
                        <li class="dropdown-header text-center">Actividad</li>
                        <li>
                            <div class="alert alert-success alert-alt">
                                <small>hace 5 min</small>
                                <br>
                                <i class="fa fa-thumbs-up fa-fw"></i> dreamcatcher vegan synth locavore
                            </div>
                            <div class="alert alert-info alert-alt">
                                <small>hace 10 min</small>
                                <br>
                                <i class="fa fa-arrow-up fa-fw"></i> Ea food truck PBR
                            </div>
                            <div class="alert alert-warning alert-alt">
                                <small>hace 3 horas</small>
                                <br>
                                <i class="fa fa-exclamation fa-fw"></i> Odio laboris in, <br><strong>sriracha
                                    semiotics</strong> rooklyn gluten-free asymmetrica
                            </div>
                            <div class="alert alert-danger alert-alt">
                                <small>Ayer</small>
                                <br>
                                <i class="fa fa-bug fa-fw"></i> <a href="javascript:void(0)" class="alert-link">Bitters
                                    viral iPhone Vice kale chips</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- END User Dropdown -->
            </ul>
            <!-- END Right Header Navigation -->
        </header>
        <!-- END Header -->

        <!-- Page content -->
        <div id="page-content">

            <!-- Backoffice Dashboard Header -->
            <div class="content-header">
                <ul class="nav-horizontal text-center">
                    <li class="active">
                        <a href="#"><i class="fa fa-bar-chart"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="themed-color-white" href="#"><i class="gi gi-phone_alt themed-color-white"></i>
                            Llamadas</a>
                    </li>
                    <li>
                        <a class="themed-color-white" href="#"><i class="gi gi-shopping_cart themed-color-white"></i>
                            Recarga celular</a>
                    </li>
                    <li>
                        <a class="themed-color-white" href="#"><i class="gi gi-comments themed-color-white"></i> SMS</a>
                    </li>
                    <li>
                        <a class="themed-color-white" href="#"><i class="gi gi-user themed-color-white"></i> Mi
                            cuenta</a>
                    </li>
                </ul>
            </div>
            <!-- END Backoffice Dashboard Header -->

            <!-- Quick Stats -->
            <div class="row text-center">
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2">
                        <div class="widget-extra themed-background">
                            <h4 class="widget-content-light"><strong>Saldo</strong></h4>
                        </div>
                        <div class="widget-extra-full"><span class="h2 animation-expandOpen">$ 10</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2">
                        <div class="widget-extra themed-background-dark">
                            <h4 class="widget-content-light"><strong>SMS</strong> Gratis</h4>
                        </div>
                        <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">4</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2">
                        <div class="widget-extra themed-background-dark">
                            <h4 class="widget-content-light"><strong>Minutos</strong> gratis</h4>
                        </div>
                        <div class="widget-extra-full"><span
                                    class="h2 themed-color-dark animation-expandOpen">120</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2">
                        <div class="widget-extra themed-background-dark">
                            <h4 class="widget-content-light"><strong>Buzón</strong> de voz</h4>
                        </div>
                        <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">5 Mensajes</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- END Quick Stats -->

            {% block body %}
            {% endblock %}

            <!-- Footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Hecho con <i class="fa fa-heart text-danger"></i> por<a href="#" target="_blank"> adesign</a>
                </div>
                <div class="pull-left">
                    <span id="year-copy"></span> &copy; <a href="#" target="_blank">VivaCubaLibre</a>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
            </div>
            <!-- END Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data"
                      class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Vital Info</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Username</label>

                            <div class="col-md-8">
                                <p class="form-control-static">Admin</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-email">Email</label>

                            <div class="col-md-8">
                                <input type="email" id="user-settings-email" name="user-settings-email"
                                       class="form-control" value="admin@example.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-notifications">Email
                                Notifications</label>

                            <div class="col-md-8">
                                <label class="switch switch-primary">
                                    <input type="checkbox" id="user-settings-notifications"
                                           name="user-settings-notifications" value="1" checked>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Password Update</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-password">New Password</label>

                            <div class="col-md-8">
                                <input type="password" id="user-settings-password" name="user-settings-password"
                                       class="form-control" placeholder="Please choose a complex one..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New
                                Password</label>

                            <div class="col-md-8">
                                <input type="password" id="user-settings-repassword" name="user-settings-repassword"
                                       class="form-control" placeholder="..and confirm it!">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>
</div>
<!-- END User Settings -->

<!-- Remember to include excanvas for IE8 chart support -->
<!--[if IE 8]>
<script src="{{ asset('bundles/callsvivacubalibre/js/helpers/excanvas.min.js') }}"></script><![endif]-->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="{{ asset('bundles/callsvivacubalibre/js/vendor/jquery-1.11.2.min.js') }}"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js, Jquery plugins and Custom JS code -->
<script src="{{ asset('bundles/callsvivacubalibre/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/callsvivacubalibre/js/plugins.js') }}"></script>
<script src="{{ asset('bundles/callsvivacubalibre/js/app.js') }}"></script>

<!-- Load and execute javascript code used only in this page -->
<script src="{{ asset('bundles/callsvivacubalibre/js/pages/formsWizard.js') }}"></script>
<script>$(function () {
        FormsWizard.init();
    });</script>
<script src="{{ asset('bundles/callsvivacubalibre/js/pages/ecomDashboard.js') }}"></script>
<script>$(function () {
        EcomDashboard.init();
    });</script>
<script src="{{ asset('bundles/callsvivacubalibre/js/pages/tablesDatatables.js') }}"></script>
<script>$(function () {
        TablesDatatables.init();
    });</script>

{% block javascripts %}{% endblock %}
</body>
</html>
