{% extends '::base.html.twig' %}

  {% block body -%}

      <h1>Hola Anónimo</h1>

      <ul>
          <li>
              <a href="{{ path('login') }}">Entrar</a>
          </li>
          <li>
              <a href="{{ path('register') }}">Registrarse</a>
          </li>
      </ul>

  {% endblock %}