{% extends '::backend.base.html.twig' %}

  {% block body -%}

        <!-- Progress Bar Wizard Block -->
        <div class="block">
            <!-- Progress Bars Wizard Title -->
            <div class="block-title">
                <h2><strong>Compra </strong>de saldo</h2>
            </div>
            <!-- END Progress Bar Wizard Title -->

            <!-- Progress Bar Wizard Content -->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="block-section">
                        <h3 class="sub-header text-center"><strong>Recarga tu cuenta en 2 pasos.</strong></h3>
                        <p class="clearfix"><i class="fa fa-plus fa-5x text-primary pull-left"></i>Recarga hoy y recibe <span class="text-success"><strong>30% de descuento</strong></span> en todos nuestros planes. Somos el número 1 en llamadas lowcost a Cuba. Si necesitas ayuda consulta nuestra FAQ o escribenos a <a href="mailto:#">help@vivacubalibre.net</a></p>
                        <p>
                            <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-block">Necesito ayuda ... <i class="fa fa-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <!-- Wizard Progress Bar, functionality initialized in js/pages/formsWizard.js -->
                    <div class="progress progress-striped active hide">
                        <div id="progress-bar-wizard" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                    </div>
                    <!-- END Wizard Progress Bar -->

                    <!-- Progress Wizard Content -->
                    <form id="progress-wizard" action="{{ path('new_payment') }}" method="post" class="form-horizontal">
                        <span class="payment-errors">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </span>
                        <!-- First Step -->
                        <div id="progress-first" class="step">
                            <div class="row">
                                <div class="text-center">
                                    <h3><strong class="animation-fadeInQuick fa-3x">$ <span id="sliderValue">20</span></strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Selecciona el saldo</a></small></h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <input type="text" id="charge-slider-hor1" name="amount" class="form-control input-slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="20" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-stripe="amount">
                                    <input type="hidden" data-stripe="currency" value="usd">
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <!-- END First Step -->

                        <!-- Second Step -->
                        <div id="progress-second" class="step">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-firstname">Nombre <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="example-progress-firstname" name="firstname" class="form-control" placeholder="nombre.." required="required" data-stripe="name" value="{{ app.user.name ~ ' ' ~ app.user.lastname }}">
                                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-lastname">Dirección de Email <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="email" id="example-progress-lastname" name="lastname" class="form-control" placeholder="texto@example.com" required="required" value="{{ app.user.email }}">
                                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-address">No. de tarjeta <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="example-paycard" name="paycard" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" maxlength="20" autocomplete="off" required="required" data-stripe="number">
                                        <span class="input-group-addon"><i class="gi gi-credit_card"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-cvc">CVC <span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <input type="text" id="example-progress-cvc" name="cvc" class="form-control" placeholder="..." maxlength="4" autocomplete="off" required="required" data-stripe="cvc">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-city">Caducidad <span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <select class="form-control card-expiry-month stripe-sensitive required" data-stripe="exp-month" name="exp-month">
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control card-expiry-year stripe-sensitive required" data-stripe="exp-year" name="exp-year">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- END Second Step -->

                        <!-- Form Buttons -->
                        <div class="form-group form-actions">
                            <div class="col-md-8 col-md-offset-5">
                                <input type="reset" class="btn btn-sm btn-warning" id="back3" value="Atrás">
                                <input type="submit" class="btn btn-sm btn-primary" id="next3" value="Pagar">
                                <img src="{{ asset('bundles/callsvivacubalibre/img/ajax-loader.gif') }}" style="visibility: hidden" id="ajax-loader">
                            </div>
                        </div>
                        <!-- END Form Buttons -->
                    </form>
                    <!-- END Progress Wizard Content -->
                </div>
            </div>
            <!-- END Progress Bar Wizard Content -->
        </div>
        <!-- END Progress Bar Wizard Block -->

        <!-- Orders and Products -->
        <div class="row">
        <!-- Messages List -->
        <div class="col-sm-5 col-lg-6">
            <!-- Messages List Block -->
            <div class="block">
                <!-- Messages List Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Marcar como leídos"><i class="fa fa-cog"></i></a>
                    </div>
                    <h2>Últimos <strong>SMS</strong></h2>
                </div>
                <!-- END Messages List Title -->

                <!-- Messages List Content -->
                <div class="table-responsive">
                    <table class="table table-hover table-vcenter">

                        <tbody>
                        <!-- Use the first row as a prototype for your column widths -->
                        <tr>
                            <td class="text-center" style="width: 30px;">
                                <input type="checkbox" id="checkbox1" name="checkbox1">
                            </td>
                            <td class="text-center" style="width: 30px;">
                                <a href="javascript:void(0)" class="text-success msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td style="width: 20%;">Contacto en agenda 1</td>
                            <td>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">Scenester migas vinyl, nesciunt placeat...</span>
                            </td>
                            <td class="text-center" style="width: 30px;">
                            </td>
                            <td class="text-right" style="width: 90px;"><em>hace 2 seg</em></td>
                            <td class="text-center" style="width: 30px;">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox2" name="checkbox2">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-success msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Contacto en agenda 2</td>
                            <td>
                                <span class="label label-info">Label</span>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">We are glad you decided to..</span>
                            </td>
                            <td></td>
                            <td class="text-right"><em>hace 2 min</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox3" name="checkbox3">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-success msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Contacto en agenda 3</td>
                            <td>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">With the growing demand on..</span>
                            </td>
                            <td></td>
                            <td class="text-right"><em>hace 10 min</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox4" name="checkbox4">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-success msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Contacto en agenda 4</td>
                            <td>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">Hey Admin, about my account..</span>
                            </td>
                            <td></td>
                            <td class="text-right"><em>hace 30 min</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox5" name="checkbox5">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-success msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Contacto en agenda 5</td>
                            <td>
                                <span class="label label-danger">Label</span>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">Dear Sir/Madam, I'm glad to inform you..</span>
                            </td>
                            <td>
                            </td>
                            <td class="text-right"><em>hace 40 min</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox6" name="checkbox6">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Sin contacto definido</td>
                            <td>
                                <span class="label label-warning">Label</span>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">I wish you could come with us at..</span>
                            </td>
                            <td>
                            </td>
                            <td class="text-right"><em>hace 55 min</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox7" name="checkbox7">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Sin contacto definido</td>
                            <td>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">An update is under way for..</span>
                            </td>
                            <td></td>
                            <td class="text-right"><em>hace 2 horas</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="checkbox8" name="checkbox8">
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-read-btn"><i class="fa fa-circle"></i></a>
                            </td>
                            <td>Contacto en agenda 8</td>
                            <td>
                                <a href="#"><strong>+5353123456</strong></a>
                                <span class="text-muted">At our site you will find amazing..</span>
                            </td>
                            <td></td>
                            <td class="text-right"><em>hace 3 horas</em></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END Messages List Content -->
            </div>
            <!-- END Messages List Block -->
        </div>
        <!-- END Messages List -->
        <div class="col-lg-6">
            <!-- Latest Orders Block -->
            <div class="block">
                <!-- Latest Orders Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="#" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Ver todos los pagos"><i class="fa fa-eye"></i></a>
                    </div>
                    <h2><strong>Historial</strong> de Pagos</h2>
                </div>
                <!-- END Latest Orders Title -->

                <!-- Latest Orders Content -->
                <table class="table table-borderless table-striped table-vcenter table-bordered">
                    <thead>
                    <tr>
                        <th class="hidden-xs">Código</th>
                        <th class="hidden-xs">Fecha</th>
                        <th class="hidden-xs">Hora</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Resultado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>ORD.685116</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Recarga</td>
                        <td class="text-right"><strong>$65,00</strong></td>
                        <td class="text-right"><span class="label label-success">Exitoso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685115</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Crédito</td>
                        <td class="text-right"><strong>$268,00</strong></td>
                        <td class="text-right"><span class="label label-danger">Denegado</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685114</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Recarga</td>
                        <td class="text-right"><strong>$362,00</strong></td>
                        <td class="text-right"><span class="label label-success">Exitoso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685113</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Recarga</td>
                        <td class="text-right"><strong>$23,00</strong></td>
                        <td class="text-right"><span class="label label-warning">En proceso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685112</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Crédito</td>
                        <td class="text-right"><strong>$1360,00</strong></td>
                        <td class="text-right"><span class="label label-success">Exitoso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685111</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Crédito</td>
                        <td class="text-right"><strong>$2685,00</strong></td>
                        <td class="text-right"><span class="label label-warning">En proceso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685110</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Recarga</td>
                        <td class="text-right"><strong>$128,00</strong></td>
                        <td class="text-right"><span class="label label-success">Exitoso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685109</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Traspaso</td>
                        <td class="text-right"><strong>$3150,00</strong></td>
                        <td class="text-right"><span class="label label-warning">En proceso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685108</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Traspaso</td>
                        <td class="text-right"><strong>$750,00</strong></td>
                        <td class="text-right"><span class="label label-success">Exitoso</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>ORD.685107</strong></a></td>
                        <td class="hidden-xs">2015-01-22</td>
                        <td class="hidden-xs">08:13:04</td>
                        <td class="hidden-xs">Recarga</td>
                        <td class="text-right"><strong>$630,00</strong></td>
                        <td class="text-right"><span class="label label-danger">Denegado</span></td>
                    </tr>
                    </tbody>
                </table>
                <!-- END Latest Orders Content -->
            </div>
            <!-- END Latest Orders Block -->
        </div>

        </div>
        <!-- END Orders and Products -->

  {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');

        $('#progress-wizard').submit(function(event) {
            var $form = $(this);

            $('#ajax-loader').css('visibility', 'visible');

            // Stripe Validations
            if (!Stripe.card.validateCardNumber($('#example-paycard').val())) {
                $('#example-paycard').val('');
                $('#example-paycard').focus();
                $('#ajax-loader').css('visibility', 'hidden');
                return false;
            }
            if (!Stripe.card.validateCVC($('#example-progress-cvc').val())) {
                $('#example-progress-cvc').val('');
                $('#example-progress-cvc').focus();
                $('#ajax-loader').css('visibility', 'hidden');
                return false;
            }

            // Disable the submit button to prevent repeated clicks
            $('#next3').prop('disabled', true);
            $('#amount').val($('#sliderValue').text());

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });

        function stripeResponseHandler(status, response) {
            var $form = $('#progress-wizard');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $('#next3').prop('disabled', false);
                $('#ajax-loader').css('visibility', 'hidden');
            } else {
                console.log(response);
                // response contains id and card, which contains additional card details
                var token = response.id;
                var cardId = response.card.id;
                var card = response.card.brand;
                var clientIp = response.client_ip;
                // Insert data returned into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                $form.append($('<input type="hidden" name="cardId" />').val(cardId));
                $form.append($('<input type="hidden" name="card" />').val(card));
                $form.append($('<input type="hidden" name="clientIp" />').val(clientIp));
                // and submit
                $form.get(0).submit();
            }
        };
    </script>
{% endblock %}