{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_label(edit_form.username) }}
    {{ form_widget(edit_form.username) }}

    {{ form_label(edit_form.name) }}
    {{ form_widget(edit_form.name) }}

    {{ form_label(edit_form.lastname) }}
    {{ form_widget(edit_form.lastname) }}

    {{ form_label(edit_form.password) }}
    {{ form_widget(edit_form.password) }}

    {{ form_label(edit_form.email) }}
    {{ form_widget(edit_form.email) }}

    {{ form_label(edit_form.country, 'País') }}
    {{ form_widget(edit_form.country) }}

    {{ form_label(edit_form.phone, 'Telefono') }}
    {{ form_widget(edit_form.phone) }}

    {{ form_label(edit_form.phone_type, 'Tipo de telefono') }}
    {{ form_widget(edit_form.phone_type) }}

    {{ form_label(edit_form.date_of_birth, 'Fecha de nacimiento') }}
    {{ form_widget(edit_form.date_of_birth) }}

    {{ form_label(edit_form.gender, 'Género') }}
    {{ form_widget(edit_form.gender) }}

    {{ form_label(edit_form.coupon, 'Cupón') }}
    {{ form_widget(edit_form.coupon) }}

    {{ form_label(edit_form.city, 'Ciudad') }}
    {{ form_widget(edit_form.city) }}

    {{ form_label(edit_form.about_us_knowledge, '¿Cómo nos conoció?') }}
    {{ form_widget(edit_form.about_us_knowledge) }}

    {{ form_widget(edit_form.submit) }}

    {{ form_end(edit_form) }}

{% endblock %}



