{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Username</th>
                <th>Email</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Isactive</th>
                <th>CardId</th>
                <th>CallerId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.cardid }}</td>
                <td>{{ entity.callerid }}</td>
                <td>
                <ul>
                    {#<li>#}
                        {#<a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
