{% extends '::base.html.twig' %}

{% block body -%}
    <h1>New user</h1>

    {% if message is defined %}
        <h3>{{ message }}</h3>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_label(form.name, 'Nombre') }}
    {{ form_widget(form.name) }}

    {{ form_label(form.lastname, 'Apellidos') }}
    {{ form_widget(form.lastname) }}

    {{ form_label(form.username, 'Usuario') }}
    {{ form_widget(form.username) }}

    {{ form_widget(form.password) }}

    {{ form_widget(form.email) }}

    {{ form_label(form.country, 'País') }}
    {{ form_widget(form.country) }}

    {{ form_label(form.phone, 'Telefono') }}
    {{ form_widget(form.phone) }}

    <div id="alert"></div>

    {{ form_label(form.phone_type, 'Tipo de telefono') }}
    {{ form_widget(form.phone_type) }}

    {{ form_label(form.date_of_birth, 'Fecha de nacimiento') }}
    {{ form_widget(form.date_of_birth) }}

    {{ form_label(form.gender, 'Género') }}
    {{ form_widget(form.gender) }}

    {{ form_label(form.coupon, 'Cupón') }}
    {{ form_widget(form.coupon) }}

    {{ form_label(form.city, 'Ciudad') }}
    {{ form_widget(form.city) }}

    {{ form_label(form.about_us_knowledge, '¿Cómo nos conoció?') }}
    {{ form_widget(form.about_us_knowledge) }}

    {{ form_label(form.submit) }}
    {{ form_widget(form.submit) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var check_phone_url = '{{ path('user_check_phone', {'phone': 'phone'}) }}';

        $('#appbundle_user_phone').blur(function () {
            if ($(this).val()) {
                $.getJSON(check_phone_url.replace('phone', $(this).val()), function(data) {
                    if (data.result == 'error') {
                        $('#alert').html('Problema de Red');
                        $('#appbundle_user_phone').val('');
                        $('#appbundle_user_phone').focus();
                    }

                    if (data.result == true) {
                        $('#alert').html('No disponible');
                        $('#appbundle_user_phone').val('');
                        $('#appbundle_user_phone').focus();
                    }
                });
            }
        })
    </script>
{% endblock %}




